<style>
  .page-width.page-content{
    width:100%;
  }
  .main-content .social-lookbook-section h2{
    margin-bottom:75px;
  }
  .social-lookbook-section h2 a{
    cursor:default;
    border-bottom:none !important;
  }
  .social-lookbook-section h2 a:after{
    display:none !important;
  }
  .main-content .social-lookbook-section{
    padding:0px;
  }
  .social-lookbook-section .sub-title-wrapper{
    display:none;
  }
</style>
<script>
  let slb_config = {
    show_all:true
  }
</script>
<div class="page-width page-content xmax-w-6xl">
  {%- render 'breadcrumbs' -%}
</div>
<!-- <div class="grid"> -->
<!--
  <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">
-->

<!-- Sticky Nav -->

<div class="social-lookbook-section !xoverflow-y-auto sm:xoverflow-y-visible">
  <h2 class="xhidden sm:xblock">
    <a href="/pages/our-social-lookbook-gumballpoodle">
      {{- page.title -}}
    </a>
  </h2>

  <div class="sub-title-wrapper">
    <span class="sub-title involvement-info">Get featured on our homepage</span>
  </div>

  <div class="social-lookbook-galley-wrapper">
    <div class="social-lookbook-galley">
      <div class="social-lookbook-media-container xflex xflex-col xmax-w-[600px] xpy-12">
        <!-- media -->
        <div class="image-block-wrapper">
          <img class="content-main">
          <video
            autoplay="autoplay"
            loop="loop"
            muted="muted"
            class="content-main xaspect-square"
            playsinline
          ></video>
          <div class="product-info-container xabsolute xbottom-0 xinset-x-0">
            <div class="product-info-wrapper xpx-10 xpb-8 xflex xitems-center xjustify-between xspace-x-4">
              <div class="product-text-wrapper xw-fit xpy-1 xpx-4 xrounded-2xl">
                <p class="product-title"></p>
                <p class="product-price"></p>
              </div>
              <img class="product-image xw-20 xmb-1 xanimate-spin-slow">
            </div>
          </div>
        </div>
        <!-- hashtags -->
        <div
          class="hashtags xmy-4 xtext-sm sm:xtext-[14px] sm:xleading-9"
        ></div>
        <!-- user details -->
        <div>
          <a target="_blank" class="user-profile-link xflex xspace-x-5 xw-fit">
            <img class="user-image xrounded-full xw-20 xh-20">
            <div>
              <p class="user-name"></p>
              <p class="user-handle"></p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <a
    href="/pages/our-social-lookbook-gumballpoodle"
    class="show-more"
    data-shift="5"
    >See All</a
  >
</div>

<div class="lookbook-popup-wrapper rc-popup">
  <svg
    class="control-arrow left-arrow"
    width="14"
    height="25"
    viewBox="0 0 14 25"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M12.6248 1.5L1.62484 12.5L12.6248 23.5" stroke="white" stroke-width="2.75" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>

  <div class="right-control-section">
    <svg
      class="closePopup"
      width="17"
      height="17"
      viewBox="0 0 17 17"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M10.4387 8.50001L16.3512 2.60126C16.6101 2.34234 16.7555 1.99118 16.7555 1.62501C16.7555 1.25885 16.6101 0.907678 16.3512 0.648761C16.0922 0.389843 15.7411 0.244385 15.3749 0.244385C15.0088 0.244385 14.6576 0.389843 14.3987 0.648761L8.49992 6.56126L2.60117 0.648761C2.34225 0.389843 1.99108 0.244385 1.62492 0.244385C1.25875 0.244385 0.907584 0.389843 0.648666 0.648761C0.389748 0.907678 0.24429 1.25885 0.24429 1.62501C0.24429 1.99118 0.389748 2.34234 0.648666 2.60126L6.56117 8.50001L0.648666 14.3988C0.519789 14.5266 0.417498 14.6787 0.347691 14.8462C0.277884 15.0138 0.241943 15.1935 0.241943 15.375C0.241943 15.5565 0.277884 15.7362 0.347691 15.9038C0.417498 16.0714 0.519789 16.2234 0.648666 16.3513C0.77649 16.4801 0.928567 16.5824 1.09612 16.6522C1.26368 16.722 1.4434 16.758 1.62492 16.758C1.80643 16.758 1.98615 16.722 2.15371 16.6522C2.32127 16.5824 2.47334 16.4801 2.60117 16.3513L8.49992 10.4388L14.3987 16.3513C14.5265 16.4801 14.6786 16.5824 14.8461 16.6522C15.0137 16.722 15.1934 16.758 15.3749 16.758C15.5564 16.758 15.7362 16.722 15.9037 16.6522C16.0713 16.5824 16.2233 16.4801 16.3512 16.3513C16.48 16.2234 16.5823 16.0714 16.6521 15.9038C16.722 15.7362 16.7579 15.5565 16.7579 15.375C16.7579 15.1935 16.722 15.0138 16.6521 14.8462C16.5823 14.6787 16.48 14.5266 16.3512 14.3988L10.4387 8.50001Z" fill="white"/>
    </svg>
    <svg
      class="control-arrow right-arrow"
      width="14"
      height="25"
      viewBox="0 0 14 25"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M1.375 1.5L12.375 12.5L1.375 23.5" stroke="white" stroke-width="2.75" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>

  <div class="lookbook-popup">
    <div class="slider">
      <div class="slide">
        <div class="image-block-wrapper">
          <img class="content-main">
          <img class="content-background">

          <video
            loop="loop"
            muted="muted"
            controls="true"
            class="content-main"
          ></video>
          <video preload="metadata" class="content-background"></video>
          <div class="video-switcher"></div>
        </div>

        <div class="info">
          <div class="product-info">
            <span class="title">Featured Product</span>
            <img class="product-image">
            <span class="product-name"></span>
            <span class="product-price"></span>
            <a href="#" class="buy-button">Buy Now</a>
          </div>

          <hr>

          <div class="user-info">
            <div class="personal-info">
              <a
                target="_blank"
                class="user-link"
                href=""
                ><img class="user-image"
              ></a>
              <span class="user-name"></span>
              <span class="user-date"></span>
              <i class="fa fa-instagram"></i>
            </div>
            <div class="text"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="rc-popup" id="involment-popup">
  <div class="rc-popup-content">
    <span class="title"
      >Get featured on the home page
      <div class="closePopup">
        <svg
          width="19"
          height="19"
          viewBox="0 0 19 19"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path fill-rule="evenodd" clip-rule="evenodd" d="M1.21888 1.21888C1.14903 1.28854 1.09362 1.37131 1.05581 1.46243C1.018 1.55354 0.998535 1.65122 0.998535 1.74988C0.998535 1.84853 1.018 1.94621 1.05581 2.03733C1.09362 2.12844 1.14903 2.21121 1.21888 2.28088L17.7189 18.7809C17.8597 18.9217 18.0507 19.0008 18.2499 19.0008C18.449 19.0008 18.64 18.9217 18.7809 18.7809C18.9217 18.64 19.0008 18.449 19.0008 18.2499C19.0008 18.0507 18.9217 17.8597 18.7809 17.7189L2.28088 1.21888C2.21121 1.14903 2.12844 1.09362 2.03733 1.05581C1.94621 1.018 1.84853 0.998535 1.74988 0.998535C1.65122 0.998535 1.55354 1.018 1.46243 1.05581C1.37131 1.09362 1.28854 1.14903 1.21888 1.21888V1.21888Z" fill="black" fill-opacity="0.6"/>
        </svg>
        <svg
          width="19"
          height="19"
          viewBox="0 0 19 19"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path fill-rule="evenodd" clip-rule="evenodd" d="M17.781 1.21888C17.8508 1.28854 17.9062 1.37131 17.944 1.46243C17.9818 1.55354 18.0013 1.65122 18.0013 1.74988C18.0013 1.84853 17.9818 1.94621 17.944 2.03733C17.9062 2.12844 17.8508 2.21121 17.781 2.28088L1.28097 18.7809C1.14014 18.9217 0.949134 19.0008 0.749971 19.0008C0.550807 19.0008 0.359801 18.9217 0.218971 18.7809C0.0781407 18.64 -0.000976562 18.449 -0.000976562 18.2499C-0.000976562 18.0507 0.0781407 17.8597 0.218971 17.7189L16.719 1.21888C16.7886 1.14903 16.8714 1.09362 16.9625 1.05581C17.0536 1.018 17.1513 0.998535 17.25 0.998535C17.3486 0.998535 17.4463 1.018 17.5374 1.05581C17.6285 1.09362 17.7113 1.14903 17.781 1.21888Z" fill="black" fill-opacity="0.6"/>
        </svg>
      </div>
    </span>
    <div class="involment-description">
      <ol>
        <li><strong>Post</strong> yourself wearing Gumball Poodle socks</li>
        <li>
          <strong>Include</strong> @gumballpoodle and #gumballpoodle in your
          post
        </li>
        <li>We'll periodically review these posts and select one to feature</li>
      </ol>
      <br>
      <div class="additional-involment-info">
        Be sure to <strong>follow us on Facebook and Instagram</strong> to
        receive updates.
      </div>
    </div>
    <div class="social-buttons">
      <a target="_blank" href="https://www.facebook.com/GumballPoodle/">
        <svg
          aria-hidden="true"
          focusable="false"
          role="presentation"
          class="icon icon-facebook"
          viewBox="0 0 32 32"
        >
          <path fill="#444" d="M18.56 31.36V17.28h4.48l.64-5.12h-5.12v-3.2c0-1.28.64-2.56 2.56-2.56h2.56V1.28H19.2c-3.84 0-7.04 2.56-7.04 7.04v3.84H7.68v5.12h4.48v14.08h6.4z"/>
        </svg>
        Facebook
      </a>
      <a target="_blank" href="https://www.instagram.com/gumballpoodle/">
        <svg
          aria-hidden="true"
          focusable="false"
          role="presentation"
          class="icon icon-instagram"
          viewBox="0 0 32 32"
        >
          <path fill="#444" d="M16 3.094c4.206 0 4.7.019 6.363.094 1.538.069 2.369.325 2.925.544.738.287 1.262.625 1.813 1.175s.894 1.075 1.175 1.813c.212.556.475 1.387.544 2.925.075 1.662.094 2.156.094 6.363s-.019 4.7-.094 6.363c-.069 1.538-.325 2.369-.544 2.925-.288.738-.625 1.262-1.175 1.813s-1.075.894-1.813 1.175c-.556.212-1.387.475-2.925.544-1.663.075-2.156.094-6.363.094s-4.7-.019-6.363-.094c-1.537-.069-2.369-.325-2.925-.544-.737-.288-1.263-.625-1.813-1.175s-.894-1.075-1.175-1.813c-.212-.556-.475-1.387-.544-2.925-.075-1.663-.094-2.156-.094-6.363s.019-4.7.094-6.363c.069-1.537.325-2.369.544-2.925.287-.737.625-1.263 1.175-1.813s1.075-.894 1.813-1.175c.556-.212 1.388-.475 2.925-.544 1.662-.081 2.156-.094 6.363-.094zm0-2.838c-4.275 0-4.813.019-6.494.094-1.675.075-2.819.344-3.819.731-1.037.4-1.913.944-2.788 1.819S1.486 4.656 1.08 5.688c-.387 1-.656 2.144-.731 3.825-.075 1.675-.094 2.213-.094 6.488s.019 4.813.094 6.494c.075 1.675.344 2.819.731 3.825.4 1.038.944 1.913 1.819 2.788s1.756 1.413 2.788 1.819c1 .387 2.144.656 3.825.731s2.213.094 6.494.094 4.813-.019 6.494-.094c1.675-.075 2.819-.344 3.825-.731 1.038-.4 1.913-.944 2.788-1.819s1.413-1.756 1.819-2.788c.387-1 .656-2.144.731-3.825s.094-2.212.094-6.494-.019-4.813-.094-6.494c-.075-1.675-.344-2.819-.731-3.825-.4-1.038-.944-1.913-1.819-2.788s-1.756-1.413-2.788-1.819c-1-.387-2.144-.656-3.825-.731C20.812.275 20.275.256 16 .256z"/><path fill="#444" d="M16 7.912a8.088 8.088 0 0 0 0 16.175c4.463 0 8.087-3.625 8.087-8.088s-3.625-8.088-8.088-8.088zm0 13.338a5.25 5.25 0 1 1 0-10.5 5.25 5.25 0 1 1 0 10.5zM26.294 7.594a1.887 1.887 0 1 1-3.774.002 1.887 1.887 0 0 1 3.774-.003z"/>
        </svg>
        Instagram
      </a>
    </div>
  </div>
</div>

{% render 'social-lookbook-nav' %}

{{ 'social-lookbook-functions.js' | asset_url | script_tag }}
{{ 'social-lookbook-style.css' | asset_url | stylesheet_tag }}

{% schema %}
{
  "name": "Social Lookbook",
  "settings": []
}
{% endschema %}

<script
  src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"
>
</script>

<script>
  document.querySelector('.social-lookbook-section h2 a').addEventListener('click', (e)=>{e.preventDefault()});
</script>

<!-- </div> -->
<!-- </div> -->
